<<h3>以下の内容で、送信する。</h3>
<%= form_with(model: @picture, local: true) do |form| %>
  <%= form.hidden_field :image %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :content %>
  <p>image:<%= image_tag @picture.image.url %></p> 
  <p>comment:<%= @picture.content %></p>
  <%= form.submit  "登録する" %>
<% end %>