<h1>Favorite_Pictures</h1>
<h3><%=link_to 'Share_picture', new_picture_path%></h3> 
<table>
  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><p>image:<br><%= image_tag picture.image.url %></p></td> 
        <td><p>comment:<br> <%= picture.content %></p></td>
        <td><p>name:<br> <%= picture.user.name %></p></td>
        <td><%= link_to 'Show', picture %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

